extends layout

block content
  h1= title
  p #{title}
  p Para utilizar esse serviço é necessário passar o atributo "nomeDaEmpresa"
  p Ex: https://qcnpj-crawler.herokuapp.com/?nomeDaEmpresa=Silva Ltda
